/* Main */
main {
    width: auto;
    height: auto;
}

/* Carrossel  */
.gallery {
    height: 80vh;
    padding-bottom: 10px;
}

.item {
    height: auto;
}

.img-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    border: 0;
    padding: 0;

}