body{
    font-size: 16px;
    -webkit-appearance: none;
}

/* Cabeçalho */

header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #1c1c1c;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    z-index: 9999;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover{
    color: #f8be00;
}


.menu{
    display: flex;
    position: relative;
    width: auto;
    margin: 0px;
    padding-left: 20px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.lista-menu {
    display: inline-block;
    padding: 10px;
    position: relative;
    text-decoration: none;
    
}
.menu-item {
    display: inline-block;
    padding: 10px;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    
}

.menu-item:hover{
    color: #f8be00;
}

.menu-item:active{
    text-decoration: none;
}

.nome-banda {
    display: inline-block;
    font-family: 'Rozha One', serif;
    font-size: 48px;
    cursor: pointer;
}

.nome-banda:hover {
    color: #f8be00;
}

.titulo {
    right: 0;
    margin-right: 50px;
    top: 0px;
}


/* Main */
main {
    width: auto;
    height: 80vh;
}

/* Carrossel  */
.gallery {
    height: 80vh;
    padding-bottom: 10px;
}

.item {
    height: auto;
}

.img-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    border: 0;
    padding: 0;

}

/* Player */
.div-deezer {
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 20px 150px;
}

.player-deezer {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 10px;
}


/* Footer */

footer {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer li {
    display: inline;
}

.titulo-footer {
    font-size: 16px;
    color: #d5423e;
    padding: 5px;
    font-family: 'raleway-semibold','raleway',sans-serif;
    font-weight: bold;
}

.footer-contato {
    color: #605e5e;
    
}


/* A Banda */

.abanda-main {
    display: flex;
    flex-direction: column;
    width: 848px;
    justify-items: center;
    margin: auto;
    font-family: 'raleway-semibold','raleway',sans-serif;
    height: auto;
    min-height: 1332px;
    grid-template-columns: 100%;
    padding-bottom: 20px;
    color: #1f1f1f;
    padding: 0 200px;
}

.abanda-titulo{
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #d5423e;
    font-size: 3.3em;
    justify-self: start;
    align-self: start;
    font-family: 'raleway-semibold','raleway',sans-serif;
    padding: 0.8em 0;
    margin-top: 130px;
}

.abanda-texto {
    text-align: justify;
    padding: 30px 0;

}

.abanda-texto p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: normal;
    font-size: 1.2em;
}

.integrantes {
    position: relative;
    margin-bottom: 5em;
}

.integrantes-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.integrantes-li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.integrantes-img {
    position: relative;
}
.integrantes-item {
    display: flex;    
    border-radius: 50%;
    width: 146px;
    height: 146px;
    justify-content: center;
    z-index: 0;
    top: 0;
    left: 0;

}

.integrantes-li p, .integrantes-li span {
    align-self: center;
    line-height: 1.3em;
}

.integrantes-li span {
    margin-top: 20px;
}


.ig-container{
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    left: calc(50% - 13px);
    bottom: 5px;

}
.ig-cover {
    /* border-radius: 50%; */
    width: 26px;
    height: 26px;
    
}

.abanda-banner {
    width: 848px;
    height: 396px;
    object-fit: cover;
}

.div-deezer-abanda{
    width: 848px;
}


/* ABA MÚSICA */

/* albuns */
.albuns-main{
    padding: 0 200px;
    height: auto;
}

.albuns-titulo{
    color: #D5423E;
    font: normal normal bold 50px/1.4em raleway-semibold,raleway,sans-serif;;
    margin: 30px 0;
}

.albuns {
    padding-top: 130px;
    height: auto;
    margin-bottom: 30px;
}

.albuns-container{
    display: flex;
    justify-content: space-between;
}

.albuns-itens {
    display: flex;
    flex-wrap: wrap;
    width: 258px;
}

.albuns-itens:first-child{
    margin-left: 0;
}

.redes-lista {
    display: flex;
}

.albuns-capa img {
    height: 258px;
    width: 258px;
    object-fit: cover;
}

.albuns-media{
    width: 258px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.redes-sociais img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    padding: 3px;   
}

/* músicas */

.musicas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.musicas-capa img {
    width: 405px;
    height: 401px;
    object-fit: cover
}

.musicas-media {
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


/* vídeos */

.videos {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

.videos-titulo {
    color: #D5423E;
    font: normal normal bold 50px/1.4em raleway-semibold,raleway,sans-serif;;
    margin: 30px 0;
}

.videos-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.videos-capa {
    object-fit: cover;
    margin-bottom: 70px;
}

/* AGENDA */

.agenda-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    margin: auto;
    font-family: 'raleway-semibold','raleway',sans-serif;
    height: auto;
    grid-template-columns: 100%;
    padding-bottom: 20px;
    color: #1f1f1f;
}

.agenda-titulo{
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #d5423e;
    font-size: 3.3em;
    justify-self: start;
    align-self: start;
    font-family: 'raleway-semibold','raleway',sans-serif;
    padding:  1.3em;
    padding-left: 200px;
    margin-top: 100px;
    
}

.carrosel {
width: 100%;
height: 341px;
position: relative;
overflow: hidden;
}

.agenda-foto{
    width: auto;
    height: 391px;
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 55s;
    animation-iteration-count: infinite;
}

.agenda-foto:nth-child(1){
    animation-delay: 0s;
}
.agenda-foto:nth-child(2){
    animation-delay: 10s;
}
.agenda-foto:nth-child(3){
    animation-delay: 20s
}
.agenda-foto:nth-child(4){
    animation-delay: 30s
}
.agenda-foto:nth-child(5){
    animation-delay: 40s
}
.agenda-foto:nth-child(6){
    animation-delay: 50s
}
.agenda-foto:nth-child(7){
    animation-delay: 60s
}
.agenda-foto:nth-child(8){
    animation-delay: 70s
}
.agenda-foto:nth-child(9){
    animation-delay: 80s
}
.agenda-foto:nth-child(10){
    animation-delay: 90s
}
.agenda-foto:nth-child(11){
    animation-delay: 95s
}

@keyframes animacao{
    
    15%{
        opacity: 1;
        /* transform:scale(1.1, 1.1); */
    }

    50%{
        opacity: 0;
    }

}

.agenda-eventos {
    display: flex;
    align-items: center;
    width: 846px;
    justify-content: space-between;
    margin-left: 200px;
    padding: 50px;
}

.agenda-data {
    display: flex;
    width: 108px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 0;
    background-color: transparent;
}
.agenda-data:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    transition: all 1s ease;
    z-index: -1;
    border-bottom: 3px solid #d5423e;  
}

.agenda-data:hover::before {
    width: 100%;
    border-bottom: 3px solid #d5423e;
}

.agenda-dia {
    font-size: 3em;
}

.agenda-semanames {
    font-size: 1em;
}

.agenda-semanames p:first-child {
    color: #7a7a7a;
    margin-bottom: 10px;
}

.agenda-local {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agenda-evento {
    display: block;
    font-size: 1.5em;
    margin-right: 20px;
    transition: all 1s ease;
}

.agenda-cidade {
    color: #7a7a7a;
    display: block;
    transition: all 1s ease;
}

.agenda-cidade:hover {
    color: #d5423e;
    font-size: 1.3em;
    font-weight: bolder;
}

.agenda-evento:hover {
    content: 'O Maior São João do Mundo';
    transform: translateX(-50px);
    transition: all 1s ease;
    font-size: 1.6em;
    font-weight: bolder;
}

.botao-evento{
    width: 120px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background: transparent;
    color: #7a7a7a;
    outline: none;
    border: none;
    font-weight: bold;
    position: relative;
    transition: all 1s;
    border-radius: 5px;
}

.botao-evento:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    /* background-color: #605e5e; */
    border-radius: 5px;
    z-index: -1;
    transition: all 1s;
}

.botao-evento:hover::before{
    width: 100%;
    background-color: #d5423e;
}

.botao-evento:hover {
    color: white;
    border-radius: 5px;
}

/* PRESS KIT */

.presskit-main {
    padding-top: 100px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    padding-left: 200px;
    width: 846px;
}

.presskit-info {
    width: 262px;
}
.presskit-titulo {
    margin-top: 50px;
}

.presskit-h1 {
    
    color: #d5423e;
    font-size: 3.3em;
    font-weight: bold;
}

.presskit-texto {
    text-align: start;
    margin: 20px 0;
    width: 262px;
    justify-content:left;
    line-height: normal;
    font-size: 1.1em;
}

.presskit-imagem img {
    margin-top: 50px;
    width: 400px;
    height: 530;
}

.presskit-botoes {
    width: 262px;
    display: flex;
    justify-content: space-between;
} 

.presskit-baixar {
    font-family: 'Raleway', sans-serif;
    width: 122px;
    height: 40px;
    font-size: 1em;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    padding: 10px;
    transition: all .4s ease;
}

.presskit-baixar:hover {
    background-color: #f8be00;
}

.presskit-itens {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: auto;
    height: 40px;
    font-size: 17px;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    padding: 0;
}

.presskit-itens:hover {
    color: #f8be00
}

/* CONTATO */

.contato-main {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    height: auto;
}

.contato {
    width: 446px;
    display: flex;
    flex-wrap: wrapque viag;
}

.contato-titulo {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #d5423e;
    font-size: 3.3em;
    justify-self: start;
    align-self: start;
    padding-bottom: 40px;
}

.contato-telefone {
    display: flex;
    margin-bottom: 30px;
}

.telefone-titulo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.telefone-numero  {
    font-size: 1.2em;
}
.contato-email {
    display: flex;
    margin-bottom: 30px;
}

.email-titulo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.email-endereco  {
    font-size: 1.2em;
}

.contato-email {
    display: flex;
}

svg {
    width: 38px;
    height: 38px;
    color: #d5423e;
    padding-right: 20px ;
}

.contrate {
    width: 480px;
    flex-wrap: wrap;
    height: auto;
}

.contrate-titulo {
    display: flex;
    position: relative;
    font-weight: bold;
    color: #d5423e;
    font-size: 3.3em;
    justify-self: start;
    align-self: start;
    padding-bottom: 40px;

}

.contrate-campos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contrate input {
    width: calc(50% - 32px);
    border-radius: 0;
    border: 1px solid  #1c1c1c;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #1c1c1c;
}

input:hover {
    border-color: #f8be00;
}

input:focus {
    border-color: #d5423e;
}



.campo-texto {
    width: calc(100% - 4px);
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    border: 1px solid  #1c1c1c;
    margin-bottom: 20px;
    height: 150px;
    padding-right: 0;
    outline: none;
    
}

.campo-texto::-webkit-input-placeholder {
    color: #1c1c1c;
    padding: 10px 5px 5px 20px;
}

.campo-texto:hover {
    border-color: #f8be00;
}

.campo-texto:focus {
    border-color: #f8be00;
}

.contrate-enviar {
    display: flex;
    padding-bottom: 70px;
    justify-content: flex-end;
}

.contrate-botao  {
    font-family: 'Raleway', sans-serif;
    width: calc(50% - 8px);
    height: 50px;
    font-size: 1em;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    padding: 10px;
    transition: all .4s ease;
}

.contrate-botao:hover {
    background-color: #f8be00;
}